
@media screen and (max-width: 576px) {
  .container{
    width: 555px;
  }
  .header-area{
    padding: 20px;
  }
  .nav, .teams-contant-img, .sponsors-img{
    flex-direction: column;
  }
  .nav ul{
    padding-top: 20px;
  }
  .tem-img{
    grid-template-columns: 1fr;
  }
  .team-contant{
    padding: 0 20px;
  }
  .fact-card{
    flex-direction: column;
    gap: 10px;
  }
  .facts{
    flex-direction: column;
    align-items: center;
  }
  .footer{
    text-align: center;
  }
}
@media screen and (min-width: 576px) and (max-width: 960px) {
  .container{
    width: 945px;
  }
  .header-area{
    padding: 50px;
  }
  .nav, .teams-contant-img, .sponsors-img{
    flex-direction: column;
    align-items: center;
  }
  .nav ul{
    padding-top: 20px;
  }
  
}